body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background:linear-gradient(to right, #56ccf2, #2f80ed); */

  /* background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%); */
}
.c1 {
  opacity: 0.9;

  background-color: white;
  -webkit-box-shadow: 1px 2px 11px 3px rgba(230, 221, 230, 0.38);
  -moz-box-shadow: 1px 2px 11px 3px rgba(230, 221, 230, 0.38);
  box-shadow: 1px 2px 11px 3px rgba(230, 221, 230, 0.38);
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.particles canvas {
  color: white;
  /* padding: 2%;
  margin-top: 3%; */

  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);

  /* background: #000000;  
background: -webkit-linear-gradient(to bottom, #434343, #000000);  
background: linear-gradient(to bottom, #434343, #000000); */

  height: 650px;
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#main_title {
  font-size: 6em !important;
}
.myfooter {
  border-top-left-radius: 45px !important;
  border-top-right-radius: 45px !important;
  opacity: 0.9;
  height: 20vh;
  background-color: white;
  -webkit-box-shadow: 1px 2px 11px 3px rgba(230, 221, 230, 0.38);
  -moz-box-shadow: 1px 2px 11px 3px rgba(230, 221, 230, 0.38);
  box-shadow: 1px 2px 11px 3px rgba(230, 221, 230, 0.38);
}
